.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gradient-text {
  background: -webkit-linear-gradient(left, #9a59b6, #78a7de); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #9a59b6, #78a7de); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #9a59b6, #78a7de); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #9a59b6, #78a7de); /* Standard syntax */
  -webkit-background-clip: text; /* Apply the gradient to the text only */
  color: transparent; /* Make the original text transparent */
}